body {
    background-color: #AACDBE;
}

.footerModal {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

main {
    background-color: #97c9b4;
}

.hide {
    display: none;
}

.fa-x {
    color: rgb(222, 113, 113);
}

.fa-x:hover {
    transform: scaleX(1.3);
    color: red;
    cursor: pointer;
}